<!DOCTYPE html>
<html>
  <head>

    <title>ProjetFinal</title>

    <!-- Boostrap, FontAwesome, Animate, Emoji-->
    <%= stylesheet_link_tag "bootstrap-thp" %>

<script src="https://use.fontawesome.com/49a0786867.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

<!-- Local CSS -->
    <%= stylesheet_link_tag "barre" %>


<!-- Local CSS -->
<link href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" rel="stylesheet">
<link rel="icon" type="img/png" href="img/favico.png" />


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header class="poppins">
<div class="container">


      <ul class="leest list-unstyled row">
        <li><h2 class="row"><a href="/">FarmInvest  <i class="fa fa-paw"></i></a></h2></li>


        <li class="margetop-big"><a href="/">Accueil</a></li>
        <li class="margetop"><a href="/investir">Investir</a></li>
        <li class="margetop"><a href="/contacts/new">Contact</a></li>
        <li class="margetop"><a href="/about">À propos</a></li>
  <% if user_signed_in? %>
        <form method="get" action="/users/edit">
        <li class="margetop margetop-co"><button action="/users/edit" class="btn btn-login poppux btround"><i class="fa fa-user"></i> Mon Compte</button>
        </form>
  <% else %>

            <form method="get" action="<%= new_user_session_path %>">
        <li class="margetop margetop-co"><button action="/" class="btn btn-login poppux boutonrond"><i class="fa fa-sign-in"></i> Connexion</button>
        </form>
  <% end %>

        </li>
      </ul>


</div>
<div class="separation"></div>
</header>

<hr width="92%">

    <%= yield %>
    <footer><p class="text-center">2017 © FarmInvest | Créé à Paris grâce à <a href="http://www.thehackingproject.org/">TheHackingProject</a></p></footer>
  </body>
</html>
